<div class="flexbox">
    <div class="container1">
        <div class="dashboard">
            <button class="btn-dashboard">Dashboard</button>
        </div>
        <div class="students">
                <button class="btn-students">Students</button>
        </div>
        <div class="teachers">
            <button class="btn-teachers">Teachers</button>
        </div>
    </div>

    <div class="container2">
        <div class="settings">
            <button class="btn-settings">Settings</button>
        </div>
        <div class="Logout">
            <button class="btn-logout">Logout</button>
        </div>

    </div>


</div>