<div class="body">
    <div class="fb-friends">
        <div class="prof-preview">
            <img class="profile-pic" src="../../../assets/burgo.jpeg" alt="">
        </div>
        <div class="div-name">
            <p class="namee">Aeron Garcia</p>
        </div>
        <div class="mutuals-preview">
            <p class="mutuals-name">BSIT 3-1</p>
        </div>
        <div class="add-friend">
            <button class="btn-add">Add Friend</button>
        </div>
    </div>
    
    <div class="fb-friends">
        <div class="prof-preview">
            <img class="profile-pic" src="../../../assets/louis.jpeg" alt="">
        </div>
        <div class="div-name">
            <p class="namee">Louis Navarro</p>
        </div>
        <div class="mutuals-preview">
            <p class="mutuals-name">BSIT 3-1</p>
        </div>
        <div class="add-friend">
            <button class="btn-add">Add Friend</button>
        </div>
    </div>

    <div class="fb-friends">
        <div class="prof-preview">
            <img class="profile-pic" src="../../../assets/joshua.jpeg" alt="">
        </div>
        <div class="div-name">
            <p class="namee">Joshua Salasayo</p>
        </div>
        <div class="mutuals-preview">
            <p class="mutuals-name">BSIT 3-1</p>
        </div>
        <div class="add-friend">
            <button class="btn-add">Add Friend</button>
        </div>
    </div>

    <div class="fb-friends">
        <div class="prof-preview">
            <img class="profile-pic" src="../../../assets/lance.jpeg" alt="">
        </div>
        <div class="div-name">
            <p class="namee">Lance Atendido</p>
        </div>
        <div class="mutuals-preview">
            <p class="mutuals-name">BSIT 3-1</p>
        </div>
        <div class="add-friend">
            <button class="btn-add">Add Friend</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
