<div class="flexbox">
    <div class="div-logo">
      div logo
    </div>
    <div class="div-topnav-items">
      <p class="services">Services</p>
      <p class="company">Company</p>
      <p class="services">Services</p>
      <p class="company">Company</p>
    </div>
    <div class="div-username">
      Rerinoway
    </div>
</div>

  <div class="container2">
    <div class="title">
      <p class="welcome">Welcome to <br> My Grading System</p>
      <p class="minor">Lorem ipsum dolor sit amet consectetur adipisiciyibewicebbwibc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, odit?</p>
    </div>
    <div class="login">
      <div class="login-form">
        <div class="login-title">
          Register
        </div>
        <div class="login-username">
          <form>
            <p class="fname">Full Name <br>
              <input type="text" class="input" name="fname">
            </p>
            
            <p class="lname">Email<br>
              <input type="text" class="input" name="lname">
            </p>
          </form>
        </div>

        <div class="div-btn">
          <button class="btn-login">Register</button>
        </div>

      </div>
  </div>

