.flexbox {
    display: flex;
    margin-top: 10px;
    color: white;
    margin-bottom: 15px;
}

.div-logo {
    flex:1;
    margin-left: 30px;
}

.div-topnav-items {
    flex: 1;
    text-align: center;
}

.services {
    margin: 0;
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

.company {
    margin: 0;
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}


.div-username {
    flex: 1;
    text-align:end;
    margin-right: 30px;
}
